requirements-full.txt
.myenv39
*.csv
myenv39
myenv39/
myenv39/*
venv/
venv/*
node_modules/
npm-debug.log
__pycache__/
*.py[cod]
.DS_Store
*.log
.env
.venv
.db

# Database files
*.db

# SQL files
*.sql
